.App {
  position: absolute;
  top: 0;
  left: 35px;
  width: 90%;
  height: 100%;
  display: block;
  align-items: center;
  margin: 0;
  padding: 0;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

@media (max-width: 576px) {
  .App {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
